<ion-header>
    <ion-navbar color="primary">
        <ion-buttons end>
            <button ion-button icon-only (click)="goToFilters()" id="goToFilters">
                <ion-icon name="options"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let curListing of listings; let i=index" (ionDrag)="onDrag($event, i)">
            <ion-item *ngIf="curListing != null">
                <ion-label>
                    <ion-img src="{{ curListing.images[0] }}" (click)="goToDetails(i)"></ion-img>
                    <span class="description">
                        <p class="price">{{ curListing.price | currency:'USD':true:'1.2-2' }}</p>
                    </span>
                </ion-label>
            </ion-item>

            <ion-item-options side="left">
                <button class="likeDislikeButton" ion-button color="secondary"></button>
            </ion-item-options>

            <ion-item-options side="right">
                <button class="likeDislikeButton" ion-button color="danger"></button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
