<ion-header>
    <ion-navbar>
        <ion-buttons end>
            <button ion-button icon-only (click)="goToFilters()" id="goToFilters">
                <ion-icon name="options"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding (ionDrag)="onDrag($event)" *ngFor="let curListing of listings">
            <ion-item *ngIf="curListing != null">
                <ion-label>
                    <ion-img src="{{ curListing.images[0] }}"></ion-img>
                    <span class="description">
                        <p class="price">{{ curListing.price | currency:'USD':true:'1.2-2' }}</p>
                    </span>
                </ion-label>
            </ion-item>

            <ion-item-options side="left">
                <button ion-button>Like</button>
            </ion-item-options>

            <ion-item-options side="right">
                <button ion-button>Dislike</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
