page-browse {

    @mixin aspect-ratio($width, $height) {
        position: relative;
        &:before {
            display: block;
            content: "";
            width: 100%;
            padding-top: ($height / $width) * 100%;
        }
        > .content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    ion-list{
        margin-bottom: 0 !important;

        ion-item{
            padding-left: 0 !important;

            .item-inner{
                padding-right: 0 !important;
            }
        }
    }

    ion-label{
        margin: 0 !important;
        @include aspect-ratio(16, 9);

        div.image{
            background-position: center;
            background-size: 100% !important;
            position: absolute !important;
            height: 100% !important;
            width: 100% !important;
            left: 0 !important;
            top: 0 !important;
        }

        .description{
            background: linear-gradient(0deg, rgba(17, 17, 17, 0.75), transparent);
            position: absolute !important;
            width: 100% !important;
            bottom: 0 !important;
            padding: 5px;

            *{
                color: white;
            }

            .price{

            }
        }
    }

    .likeDislikeButton{
        width: 400px !important;
    }
}
