page-sign-in {

    ion-label{
        padding: 0 !important;
        margin: 0 !important;
        ion-icon{
            font-size: 23pt;
            color: #DDD;
        }
    }

    .logo{
        margin-right: auto;
        border-radius: 5px;
        max-height: 300px;
        margin-left: auto;
        display: block;
    }

    .register{
        margin-top: 15px;

        p{
            text-align: center;
            padding: 0;
            margin: 0;
        }
    }

    .invalid{
        color: #EA6153;
        font-size: 10pt;
        min-height: 0;
    }

    .facebookLogin{
        margin-top: 15px;

        p{
            text-align: center;
            padding: 0;
            margin: 0;
            ion-icon{
                font-size: 23pt;
                color: #0c60ee;
            }
        }
    }
}
