page-main {
    ion-list{
        ion-item {
            margin-right: auto !important;
            margin-left: auto !important;
        }
    }

    ion-slides {
        max-height:80%;
        img{
            object-fit: contain;
        }
        button {
            margin-left: 10pt;
            margin-right: 10pt;
        }
        ion-item {
            margin-right: auto !important;
            margin-left: auto !important;
            height: 20px;
        }
    }
}
