page-main {
    ion-list{
        .scroll{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height:100% !important
        }

        ion-item {
            margin-right: auto !important;
            margin-left: auto !important;
        }
    }

    ion-slides {
        max-height:80%;
        img{
            object-fit: contain;
        }
        button {
            margin-left: 10pt;
            margin-right: 10pt;
        }
        ion-item {
            margin-right: auto !important;
            margin-left: auto !important;
            height: 20px;
        }
    }
}
