<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Filter
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <!--Everything-->
    <ion-list>
        <!--List of Provinces-->
        <ion-item>
            <ion-label stacked>Province</ion-label>
            <ion-select [(ngModel)]="province" id="flProv">
                <ion-option value = "null" >None</ion-option>
                <ion-option *ngFor="let province of _provinces" value="{{ province.abbr }}">{{ province.name }}</ion-option>
            </ion-select>
        </ion-item>

        <!--Price Range Text Inputs-->
        <ion-item>
            <ion-label stacked>Price Range</ion-label>
            <ion-range [(ngModel)]="price" id="flPrice" dualKnobs="true" step="15000" snap="true" min="{{_priceMin}}" max="{{_priceMax}}" pin="true">
                <ion-label *ngIf="price?.lower == 100000" range-left>No Min</ion-label>
                <ion-label *ngIf="price?.lower != 100000" range-left>100000</ion-label>
                <ion-label *ngIf="price?.upper != 1600000" range-right>1600000</ion-label>
                <ion-label *ngIf="price?.upper == 1600000" range-right>No Max</ion-label>
            </ion-range>
        </ion-item>

        <!--Square Feet Range-->
        <ion-item>
            <ion-label stacked>Square Feet</ion-label>
            <ion-range [(ngModel)]="squareFeet" id="flSqft" dualKnobs="true" min="{{_squareFeetMin}}" max="{{_squareFeetMax}}" pin="true">
                <ion-label *ngIf="squareFeet?.lower == 100" range-left>No Min</ion-label>
                <ion-label *ngIf="squareFeet?.lower != 100" range-left>100&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-label>
                <ion-label *ngIf="squareFeet?.upper != 10000" range-right>&nbsp;&nbsp;&nbsp;10000</ion-label>
                <ion-label *ngIf="squareFeet?.upper == 10000" range-right>No Max</ion-label>
            </ion-range>
        </ion-item>

        <!--Bedrooms Range-->
        <ion-item>
            <ion-label stacked>Bedrooms</ion-label>
            <ion-range [(ngModel)]="bedrooms" lower="1" upper="4" id="flBed" dualKnobs="true" step="1" snaps="true" min="{{_bedroomsMin}}" max="{{_bedroomsMax}}" pin="true">
                <ion-label *ngIf="bedrooms?.lower == 1" range-left>No Min</ion-label>
                <ion-label *ngIf="bedrooms?.lower != 1" range-left>1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-label>
                <ion-label *ngIf="bedrooms?.upper != 10" range-right>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10</ion-label>
                <ion-label *ngIf="bedrooms?.upper == 10" range-right>No Max</ion-label>
            </ion-range>
        </ion-item>

        <!--Bathrooms Range-->
        <ion-item>
            <ion-label stacked>Bathrooms</ion-label>
            <ion-range [(ngModel)]="bathrooms" id="flBath" dualKnobs="true" step="0.5" snaps="true" min="{{_bathroomsMin}}" max="{{_bathroomsMax}}" pin="true">
                <ion-label *ngIf="bathrooms?.lower == 1" range-left>No Min</ion-label>
                <ion-label *ngIf="bathrooms?.lower != 1" range-left>1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-label>
                <ion-label *ngIf="bathrooms?.upper != 10" range-right>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10</ion-label>
                <ion-label *ngIf="bathrooms?.upper == 10" range-right>No Max</ion-label>
            </ion-range>
        </ion-item>

        <!--Apply the Filter-->
        <ion-item>
            <button ion-button item-left="" (click)="cancel()" id="flCancel">Cancel</button>
            <button ion-button item-right="" (click)="applyFilter()" id="flApply">Apply Filter</button>
        </ion-item>

    </ion-list>
</ion-content>
