<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Favourites
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item no-lines color="danger" text-wrap *ngIf="!loginService.isLoggedIn()">
            You must be signed in to view your favourites!
        </ion-item>
        <ion-item-sliding *ngFor="let cur of listings">
            <ion-item (click)="selectListing(cur)">
                <ion-thumbnail item-left>
                    <img src="{{ cur['thumbnail'] }}">
                </ion-thumbnail>
                <p>{{ cur['description']}}</p>
            </ion-item>
            <ion-item-options slide="left">
                <button ion-button color="danger" (click)="unfavourite(cur)">
                    <ion-icon name="trash"></ion-icon>
                    Delete
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
