page-sign-up {
    #buySellSlide *{
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;

        -webkit-transition-property: all;
        -moz-transition-property: all;
        -ms-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 1s;
        -moz-transition-duration: 1s;
        -ms-transition-duration: 1s;
        -o-transition-duration: 1s;
        transition-duration: 1s;
    }

    #buyMode{
        background-color: #f53d3d !important;
        button{
            background-color: transparent !important;
            width: 100%;
        }
    }

    #sellMode{
        background-color: #387ef5 !important;
        button{
            background-color: transparent !important;
            width: 100%;
        }
    }

    .invalid{
        color: #EA6153;
        font-size: 10pt;
        min-height: 0;
    }
}
