<ion-header>
    <ion-navbar>
        <ion-title>
            <ion-segment [(ngModel)]="listModel">
                <ion-segment-button value="listings" (ionSelect)="selectListings()">
                    My Listings
                </ion-segment-button>
                <ion-segment-button value="favourites" (ionSelect)="selectFavourites()">
                    Favourites
                </ion-segment-button>
            </ion-segment>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div [ngSwitch]="listModel">
        <ion-list *ngSwitchCase="'listings'">
            <button ion-button block color="blue" id = "addButton" (click)="addListing()">Add more listing</button>
            <ion-item-sliding *ngFor="let cur of myListings">

                <ion-item (click)="clickMyListing(cur)">
                    <ion-thumbnail item-left>
                        <img src="{{ cur['thumbnail'] }}">
                    </ion-thumbnail>
                    <p>{{ cur['description'] }}</p>
                </ion-item>
                <ion-item-options slide="left">
                    <button ion-button color="blue" (click)="editMyListing(cur)">
                        <ion-icon name="create"></ion-icon>
                        Edit
                    </button>
                    <button ion-button color="danger" (click)="deleteMyListing(cur)">
                        <ion-icon name="trash"></ion-icon>
                        Delete
                    </button>
                </ion-item-options>

            </ion-item-sliding>
        </ion-list>
        <ion-list *ngSwitchCase="'favourites'">
            <ion-item-sliding *ngFor="let cur of favListings">

            <ion-item (click)="clickFavListing(cur)">
                <ion-thumbnail item-left>
                    <img src="{{ cur['thumbnail'] }}">
                </ion-thumbnail>
                <p>{{ cur['description']}}</p>
            </ion-item>
                <ion-item-options slide="left">
                    <button ion-button color="danger" (click)="deleteFavListing(cur)">
                        <ion-icon name="trash"></ion-icon>
                        Delete
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>
</ion-content>
