<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button icon-only id = "addButton" (click)="addListing()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            My Listings
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only>
                <ion-icon name="create"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-list-header>
            Published
        </ion-list-header>
        <ion-item-sliding *ngFor="let cur of getPublished()">
            <ion-item (click)="selectListing(cur)">
                <ion-thumbnail item-left>
                    <img src="{{ cur['thumbnail'] }}">
                </ion-thumbnail>
                <p>{{ cur['description'] }}</p>
            </ion-item>
            <ion-item-options slide="left">
                <button ion-button color="blue" (click)="editListing(cur)">
                    <ion-icon name="create"></ion-icon>
                    Edit
                </button>
                <button ion-button color="danger" (click)="deleteListing(cur)">
                    <ion-icon name="trash"></ion-icon>
                    Delete
                </button>
            </ion-item-options>
        </ion-item-sliding>
        <ion-list-header>
            Unpublished
        </ion-list-header>
        <ion-item-sliding *ngFor="let cur of getUnpublished()">
            <ion-item (click)="selectListing(cur)">
                <ion-thumbnail item-left>
                    <img src="{{ cur['thumbnail'] }}">
                </ion-thumbnail>
                <p>{{ cur['description'] }}</p>
            </ion-item>
            <ion-item-options slide="left">
                <button ion-button color="blue" (click)="editListing(cur)">
                    <ion-icon name="create"></ion-icon>
                    Edit
                </button>
                <button ion-button color="danger" (click)="deleteListing(cur)">
                    <ion-icon name="trash"></ion-icon>
                    Delete
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
