page-my-listings {
    ion-content {
        ion-list {
            ion-item {
                ion-thumbnail {
                    img {
                        width:auto;
                        height:auto;
                    }
                }

            }
        }
    }
}
#addButton{
    text-align: center;
    margin-right: auto !important;
    margin-left: auto !important;
    max-width: 500px;
}
