<ion-header>
    <ion-navbar color="primary">
        <ion-title *ngIf="curListing == null">
            Add Listing
        </ion-title>
        <ion-title *ngIf="curListing != null">
            Edit Listing
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list inset>
        <ion-item>
            <ion-label stacked>Province</ion-label>
            <ion-select [(ngModel)]="province" id="alProvince">
                <ion-option value="AB">Alberta</ion-option>
                <ion-option value="BC">British Columbia</ion-option>
                <ion-option value="MB">Manitoba</ion-option>
                <ion-option value="NB">New Brunswick</ion-option>
                <ion-option value="NL">Newfoundland and Labrador</ion-option>
                <ion-option value="NS">Nova Scotia</ion-option>
                <ion-option value="NU">Nunavut</ion-option>
                <ion-option value="NW">North West Territories</ion-option>
                <ion-option value="ON">Ontario</ion-option>
                <ion-option value="PE">Prince Edward Island</ion-option>
                <ion-option value="QC">Quebec</ion-option>
                <ion-option value="SK">Saskatchewan</ion-option>
                <ion-option value="YT">Yukon</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label stacked>City/Town </ion-label>
            <ion-input [(ngModel)]="city" type = "text" id ='alCityTown'></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Address </ion-label>
            <ion-input [(ngModel)]="address" type = "text" id='alAddress'></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Postal Code </ion-label>
            <ion-input [(ngModel)]="postalCode" type = "text" id='alPostalCode'></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Price </ion-label>
            <ion-input [(ngModel)]="price" type = "text" id='alPrice'></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Square Feet</ion-label>
            <ion-input [(ngModel)]="squarefeet" type = "text" id='alSqFeet'></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Bed Rooms </ion-label>
            <ion-input [(ngModel)]="bedrooms" type = "text" id='alBed'></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Bath Rooms </ion-label>
            <ion-input [(ngModel)]="bathrooms" type="text" id="alBathRoom"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating stacked>Description </ion-label>
            <ion-textarea [(ngModel)]="description" id="alDesc" text-wrap ></ion-textarea>
        </ion-item>

        <ion-item>
            <button item-left ion-button small (click)="addImage()" id="alImage">Add Image</button>
        </ion-item>

        <ion-item>
            <button ion-button block (click)="saveWithoutPublishing()" id="alSave">Save without Publishing</button>
            <button *ngIf="curListing == null || ((curListing != null) && !curListing.isPublished)" ion-button block (click)="saveAndPublish()" id="alPublish">Publish</button>
            <button *ngIf="(curListing != null) && curListing.isPublished" ion-button block (click)="unpublish()" id="alUnpublish">Unpublish</button>
        </ion-item>
    </ion-list>
</ion-content>
