<ion-header>
    <ion-navbar color="primary">
        <ion-title *ngIf="!editMode">
            Add Listing
        </ion-title>
        <ion-title *ngIf="editMode">
            Edit Listing
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list inset>
        <ion-item>
            <ion-label stacked>Province</ion-label>
            <ion-select [(ngModel)]="province" id="alProvince">
                <ion-option *ngFor="let province of _provinces" value="{{ province.abbr }}">{{ province.name }}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label stacked>City/Town </ion-label>
            <ion-input [(ngModel)]="city" type = "text" id ='alCityTown'></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Address </ion-label>
            <ion-input [(ngModel)]="address" type = "text" id='alAddress'></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Postal Code </ion-label>
            <ion-input [(ngModel)]="postalCode" type = "text" id='alPostalCode'></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Price </ion-label>
            <ion-input [(ngModel)]="price" type = "text" id='alPrice'></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Square Feet</ion-label>
            <ion-input [(ngModel)]="squareFeet" type = "text" id='alSqft'></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Bedrooms </ion-label>
            <ion-input [(ngModel)]="bedrooms" type = "text" id='alBedroom'></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Bathrooms </ion-label>
            <ion-input [(ngModel)]="bathrooms" type="text" id="alBathroom"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Description </ion-label>
            <ion-textarea [(ngModel)]="description" id="alDesc" text-wrap ></ion-textarea>
        </ion-item>

        <ion-item>
            <button item-left ion-button small (click)="addImage()" id="alImage">Add Image</button>
        </ion-item>


        <ion-item>
            <button ion-button item-left="" (click)="saveWithoutPublishing()" id="alSave">Save without Publishing</button>
            <button *ngIf="curListing == null || ((curListing != null) && !curListing.isPublished)" ion-button item-right (click)="saveAndPublish()" id="alPublish">Publish</button>
            <button *ngIf="(curListing != null) && curListing.isPublished" ion-button block (click)="unpublish()" id="alUnpublish">Unpublish</button>
        </ion-item>
    </ion-list>
</ion-content>
