<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Details
        </ion-title>
        <ion-buttons end>
            <button *ngIf="belongsToUser()" ion-button icon-only (click)="edit()">
                <ion-icon name="create"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-toolbar>
        <ion-item no-lines id="voteBar" *ngIf="!belongsToUser()">
            <button ion-button item-left color="second" clear icon-only (click)="dislike()" id="unlikeButton">
                <ion-icon ios="ios-thumbs-down" md="md-thumbs-down"></ion-icon>
            </button>
            <button ion-button item-right color="danger" clear icon-only (click)="like()" id="likeButton">
                <ion-icon ios="ios-heart" md="md-heart"></ion-icon>
            </button>
        </ion-item>

        <ion-slides pager id="listingImages">
            <ion-slide style="background-color: lightgray" *ngFor="let image of data[cursor].images">
                <img src="data:image/png;base64,{{ image }}" />
            </ion-slide>
        </ion-slides>
    </ion-toolbar>

    <ion-item>
        <button ion-button item-left clear icon-only large (click)="previousProperty()" *ngIf="isPreviousProperty()" id="previousProperty">
            <ion-icon ios="ios-arrow-dropleft-circle" md="md-arrow-dropleft-circle"></ion-icon>
        </button>
        <button ion-button item-right clear icon-only large (click)="nextProperty()" *ngIf="isNextProperty()" id="nextProperty">
            <ion-icon ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon>
        </button>
    </ion-item>

    <ion-list>
        <!--<button ion-item detail-push (click)="goToContact()">-->
                <!--Contact-->
        <!--</button>-->
        <ion-item>
            <span item-left>
                Location
            </span>
            <span item-right>
                {{ data[cursor].city }}, {{ data[cursor].province.abbr }}
            </span>
        </ion-item>
        <ion-item>
            <span item-left>
                Address
            </span>
            <span item-right>
                {{ data[cursor].address }}
            </span>
        </ion-item>
        <ion-item>
            <span item-left>
                Square Feet
            </span>
            <span item-right>
                {{ data[cursor].squarefeet }}
            </span>
        </ion-item>
        <ion-item>
            <span item-left>
                Price
            </span>
            <span item-right>
                {{ data[cursor].price | currency:'USD':true:'1.2-2' }}
            </span>
        </ion-item>
        <ion-item>
            <span item-left>
                Bedroom
            </span>
            <span item-right>
                {{ data[cursor].bedrooms }}
            </span>
        </ion-item>
        <ion-item>
            <span item-left>
                Bathroom
            </span>
            <span item-right>
                {{ data[cursor].bathrooms }}
            </span>
        </ion-item>
        <ion-item>
            <span item-left>
                Description
                <p id="description">{{ data[cursor].description }}</p>
            </span>
        </ion-item>
    </ion-list>
</ion-content>
