{% extends "main.html" %}

{% block title %}Register a new user{% endblock %}

{% block maincontent %}

    <h1>Register a new user</h1>
    <form method="post" action="/createuser">
        <label>First Name</label>
        <input name="firstName" type="text">
        <br>
        <label>Last Name</label>
        <input name="lastName" type="text">
        <br>
        <label>Email</label>
        <input name="email" type="text">
        <br>
        <label>Password</label>
        <input name="password" type="password">
        <br>
        <label>Confirm password</label>
        <input name="confirmedPassword" type="password">
        <br>
        <label>Phone 1</label>
        <input name="phone1" type="number">
        <br>
        <label>Phone 2</label>
        <input name="phone2" type="number">
        <br>
        <label>Province</label>
        <input name="province" type="text">
        <br>
        <label>City</label>
        <input name="city" type="text">
        <br>
        <label>Postal Code</label>
        <input name="postalCode" type="text">
        <br>
        <input type="submit" value="Submit">
    </form>

{% endblock %}
