<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{% block title %}Home{% endblock %}</title>
    <style>
      input {
        display: block;
      }
    </style>
  </head>

  <body>

  <div class="content">
    {% block maincontent %}

    {% endblock %}
  </div>

  <div>
    <footer>
      <hr/>
      <p>
        {% if not user %}
          <a href="/signin">Sign in (and forgot password)</a>
        {% else %}
          Signed in as <span style="background-color: OldLace">{{ user.first_name }}</span> | <a href="/logout">Logout</a>
        {% endif %}
        |
        <a href="/">Home</a>
        |
        <a href="/createuser">New user</a>
        |
        <a href="/authenticated">Secured page</a> (you can see this after login)
      </p>
    </footer>
  </div>

  </body>
</html>
